<div class="page-header">
  <h1>
    Photos
    <a href="/photos/new" class="btn btn-lg btn-success">New Photo</a>
  </h1>
</div>


<% @photo.each do |photo| %>
  <li class = "list-group-item">
    <a href="/photos/<%= photo.id %>"> <%= photo.caption %><a>
  </li>
<% end %>
